<div class="content" ng-controller="AddEventController as addEvent" ng-init="currentPage ='add-event'">
    <form role="form">
        <div class="form-group">
            <label for="event_name">Event name</label>
            <input type="event_name" ng-model="addEvent.name" class="form-control" id="event_name" placeholder="Enter event name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description"  name="description" ng-model="addEvent.description" class="form-control" rows="5"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Make me anonymous creator
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Add me to participants
            </label>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label for="name">Name</label>
                <input type="name" class="form-control" id="name" placeholder="Enter name">
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
        </div>
        <button type="submit" class="btn btn-default">Add event</button>
    </form>
</div>